// com box 1

.award-main-wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    .edto-award-box{
        width: inherit;
        display: flex;  
        gap: 10px;
        background-color: $bgWhite; 
        border-radius: 8px;
        box-shadow: $boxShadowbtn;  
        padding: 20px;          
   }
}

// responsive

@include for-991{
  
}

@include for-576{
  
}

@include for-480{
   
}