// variable define



$font-family1: 'Montserrat', sans-serif;
$transition:all 0.5s;
/* ||Text color var|| */
$txtOrange: #f65e19;
$txtBlue: #034EA2;
$textBlue-btn: #317fff;
$txtBlack: #000;
$txtLightBlack: #3c3c3c;
$txtWhite: #ffffff;
$txtGray: #6d6d6d;
$textsub-title: #8e8e8e;
$textpegi: #868686;
/* ||Text color var|| */

/* ||Border color var|| */
$borderOrange: #ffa35d;
$borderBlue: #034EA2;
$borderWhite: #ffffff;
$borderBlack: #000;
$borderLightBlack: #343434;
$borderLightBlue: #dde9ff;
$borderLightGrey: #dbdbdb;
/* ||Border color var|| */

/* ||Backgorund color var|| */
$bgOrange: #f79421;
$bgWhite: #ffffff;
$bgBlue: #034EA2;
$bgBlack: #000;
$bgLightBlack: #f9f9f9;
$bgLightBlue: #F2F7FF;
$bgLightyellow: #fff6e1;
$bgLightgry: #d2d2d2;
/* ||Backgorund color var|| */

/* ||Gradient var|| */
$bgGreenGradient1:linear-gradient(to bottom,#7fc15c,#68ca46);
/* ||Gradient var|| */

/* ||Box Shadow var|| */
// $boxShadow1:0 0 10px 0 rgb(151 151 151 / 53%);
// $boxShadow2:0 1px 12px -1px rgb(100 100 100 / 55%);
// $boxShadow3:0 0 8px 0 rgb(151 151 151 / 53%);
$box-shadow: 0 4px 20px 0 #00000026;
$box-shadow-testi:0 1px 12px -1px rgba(100, 100, 100, 0.55);
$boxShadowbox:0px 1px 6px 0px #97979787;
$boxShadowbtn:1px 1px 13px 0 #00000021;

/* ||Box Shadow var|| */


//  font style

 




/* ||Font Weight var|| */
$fw100:100;
$fw200:200;
$fw300:300;
$fw500:400;
$fw500:500;
$fw600:600;
$fw700:700;
$fw800:800;
$fw900:900;
/* ||Font Weight var|| */

/* ||Font Size var|| */
$fs6:0.375rem; //6px
$fs8:0.5rem; //8px
$fs10:0.625rem; //10px
$fs12:0.75rem; //12px
$fs14:0.875rem; //14px
$fs16:1rem; //16px
$fs18:1.125rem; //18px
$fs20:1.3rem; //20px
$fs22:1.375rem; //22px
$fs24:1.5rem; //24px
$fs26:1.625rem; //26px
$fs28:1.75rem; //28px
$fs30:1.875rem; //30px
$fs32:2rem; //32px
$fs34:2.125rem; //34px
$fs36:2.25rem; //36px
$fs38:2.375rem; //38px
$fs40:2.5rem; //40px
$fs42:2.625rem; //42px
/* ||Font Size var|| */

$uppercase: uppercase;
$capitalize: capitalize;
/*|| font size classes ||*/